.checkbox-wrapper{
    height:fit-content;
    display:flex;
    flex-wrap:nowrap;
    width:fit-content;
    align-items: center;
    .input-checkbox-component{
        cursor:pointer;
    }
    
    .checkbox-label{
        height:100%;
        width:fit-content;
        padding:0px 8px;
        display:flex;
        white-space: nowrap;
        justify-content:center;
    }

}
