<div class="page-container">
    <div class="welcome-section">
        <ng-container *ngIf="userDetails && !isLoadingData">
            <div class="welcome-title">
                Ciao {{getUserName()}}!
            </div>
            <div class="welcome-subtitle">
                <ng-container *ngIf="isAccountSetupComplete()">
                    In questa sezione trovi le azioni rapide dell' applicativo e una panoramica delle tue ultime azioni.
                </ng-container>
                <ng-container *ngIf="!isAccountSetupComplete()">
                    Il tuo profilo non è completo, ti consigliamo di partire da qui per poter usufruire della
                    piattaforma.
                </ng-container>
            </div>
        </ng-container>
        <ng-container *ngIf="isLoadingData">
            <app-progressbar type="indefinite" class="loading-data-home-progress"></app-progressbar>
        </ng-container>
        <ng-container *ngIf="!isAccountSetupComplete() && !isLoadingData && !!accountSetupChecklist">
            <div class="welcome-setup-not-complete">
                <ng-container *ngIf="!accountSetupChecklist?.photoURL">
                    <div class="setup-not-compete-action">
                        <input type="file" style="display:none" (change)="onUserImageSelect($event)"
                            accept=".png, .jpeg" #fileUpload>
                        <div class="setup-not-complete-button" (click)="fileUpload.click()">
                            <span class="lnr lnr-cloud-upload"></span>
                        </div>
                        <p class="setup-not-complete-button-label">Imposta una foto profilo</p>
                    </div>
                </ng-container>
                <ng-container *ngIf="!accountSetupChecklist?.displayName">
                    <div class="setup-not-compete-action">
                        <div class="setup-not-complete-button" (click)="onUpdateDisplayName()">
                            <span class="lnr lnr-pencil"></span>
                        </div>
                        <p class="setup-not-complete-button-label">Aggiungi un nome utente</p>
                    </div>
                </ng-container>
                <ng-container *ngIf="!accountSetupChecklist?.tradingPlan">
                    <div class="setup-not-compete-action">
                        <div class="setup-not-complete-button">
                            <span class="lnr lnr-book"></span>
                        </div>
                        <p class="setup-not-complete-button-label">Aggiungi regole di trading</p>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </div>
    <app-inputbox style="width:150px; margin:8px;" color="primary"></app-inputbox>
    <app-datepicker style="width:150px; margin:8px;" color="primary"></app-datepicker>
    <app-combobox style="width:150px; margin:8px; " color="primary"></app-combobox>
    <app-button style="width:150px; margin:8px;" color="primary-red">Press Here</app-button>
    <app-button style="width:150px; margin:8px;" color="primary-blue">Press Here</app-button>
</div>