
.page-container{
    .welcome-section{
        display:flex;
        flex-direction: column;
        width:100%;
        padding:8px;
        .welcome-title{
            border:1px solid red;
            width:100%;
            padding:8px 16px 8px 32px;
            border-radius:16px;
            font-size:24px;
        }
    }
}