
.page-container{
    overflow-y:auto;
    .welcome-section{
        display:flex;
        flex-direction: column;
        width:calc(100% -32px);
        padding:16px;
        border-radius:16px;
        .welcome-title{
            border-radius:16px;
            font-size:16px;
            padding:8px;
            font-weight:bold;
            display:flex;
            overflow:hidden;
        }
        .welcome-subtitle{
            @extend .welcome-title;
            height:fit-content;
            font-size:12px;
            font-weight:normal;
        }
        .loading-data-home-progress{
            padding:8px;
        }
        .welcome-setup-not-complete{
            display:flex;
            height:fit-content;
            .setup-not-compete-action{
                margin:8px 8px;
                display:flex;
                flex-direction: column;
                padding-top:8px;
                align-items:center;
                .setup-not-complete-button{
                    cursor:pointer;
                    border-radius:16px;
                    font-size:18px;
                    width:72px;
                    height:72px;
                    display:flex;
                    align-items:center;
                    justify-content: center;
                }
                .setup-not-complete-button-label{
                    display:inline-flex;
                    font-size:10px;
                    margin-top:16px;
                    font-weight: lighter;
                    text-align:center;
                }
            }
        }
        .fast-actions-wrapper{
            display:flex;
            height:fit-content;
            width:calc(100%-32px);
            padding-top:16px;
            .fast-action-user{
                height:fit-content;
                display:flex;
                flex-direction: column;
                align-items:center;
                padding:16px;
                border-radius:16px;
                .user-account-photo{
                    display:flex;
                    align-items:center;
                    height:fit-content;
                    width:100%;
                    padding-bottom:16px;
                    img{
                        height:100px;
                        border:2px solid;
                        width:100px;
                        border-radius:50px;
                        transition: filter 0.1s ease-in-out;
                        margin:0px;
                        cursor:pointer;
                        display: block;
                        &:hover{
                            filter:blur(1px) opacity(40%);
                        }
                    }
                    .edit-image-icon{
                        position:relative;
                        left:-50%;
                        margin-left:-8px;
                        display:none;
                        max-width:0px;
                        font-size:24px;
                        user-select:none;
                        pointer-events:none;
                    }
                    img:hover + .edit-image-icon {
                        display:block;
                    }
                }
                .button{
                    margin:4px 8px;
                    width:100%;
                    &:last-child{
                        margin-bottom:0px;
                    }
                    &:first-child{
                        margin-top:8px;
                    }
                }
            }
            .fast-action-ongoing-trades{
                width:100%;
                display:flex;
                margin-left:16px;
                flex-direction: column;
                padding:16px;
                border-radius:16px;
                .ongoing-trades-title{
                    padding-bottom:16px;
                }
                .trade-preview{
                    margin:4px 0px;
                }
            }
        }
    }
}