
.page-container{
    .welcome-section{
        display:flex;
        flex-direction: column;
        width:100%;
        padding:16px;
        border-radius:16px;
        .welcome-title{
            border-radius:16px;
            font-size:16px;
            padding:8px;
            font-weight:bold;
            display:flex;
            overflow:hidden;
        }
        .welcome-subtitle{
            @extend .welcome-title;
            height:fit-content;
            font-size:12px;
            font-weight:normal;
        }
        .loading-data-home-progress{
            padding:8px;
        }
    }
}