<div class="input-wrapper" [ngClass]="{'disabled':isDisabled}">
    <div class="input-title">{{title}}</div>
    <ng-container *ngIf="type==='text'">
        <input type="text" class="input-field" [placeholder]="placeholder" (input)="emitComponentEvent()"
            [ngClass]="{'bg-primary':color==='primary', 'bg-secondary-red': color==='secondary-red'}"
            [(ngModel)]="value" />
    </ng-container>
    <ng-container *ngIf="type==='number'">
        <input type="number" class="input-field" (input)="emitComponentEvent()" [max]="getMaxNumber()"
            [placeholder]="placeholder" [min]="getMinNumber()"
            [ngClass]="{'bg-primary':color==='primary', 'bg-secondary-red': color==='secondary-red'}"
            [(ngModel)]="value" />
    </ng-container>
</div>