.input-wrapper{
    display:flex;
    width:100%;
    height:fit-content;
    flex-direction: column;
    box-sizing:border-box;
    .input-title{
        text-transform: capitalize;
        font-weight: bold;
        font-size:12px;
    }
    .input-field{
        height:25px;
        outline: none;
        width: calc(100% - 16px);
        border:none;
        border-radius:4px;
        padding:0px 8px;
        font-size:11px;
        &::-webkit-calendar-picker-indicator{
            cursor:pointer;
        }
    }
}