<div #floatingWrapper class="floating-wrapper">
    <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
    <div class="header-wrapper">
        <div class="floating-dragger" (mousedown)="setHoldingDiv($event)" (mouseup)="removeHoldingDiv()">
            <span class="lnr lnr-text-align-justify"></span>
        </div>
        <div class="floating-title" [ngClass]="{'collapsed-content':isCollapsed}" #floatingContent>
            <div class="floating-title">{{title}}</div>
        </div>
        <div class="floating-close" (click)="onCloseModal()">
            <span class="lnr lnr-cross"></span>
        </div>
    </div>
    <div class="content-wrapper">
        <ng-content>

        </ng-content>
    </div>

</div>