.trade-preview-wrapper{
    display:flex;
    width:100%;
    box-sizing: border-box;
    height:30px;
    align-items:center;
    border-radius:4px;
    .trade-preview-symbol{
        cursor:pointer;
        border-top-left-radius:4px;
        border-bottom-left-radius:4px;
        display:inline-flex;
        align-items:center;
        justify-content: flex-start;
        padding:0px 8px;
        text-transform: uppercase;
        width:60px;
        max-width:60px;
        min-width:60px;
        height:100%;
    }
    .trade-preview-date{
        width:100px;
        padding:0px 16px;
        height:100%;
        display:inline-flex;
        white-space: nowrap;
        align-items:center;
        justify-content:flex-start;
        font-weight:bold;
        user-select:none;
        cursor:pointer;
    }
    .trade-preview-close-type{
        @extend .trade-preview-date;
        font-weight:normal;
        width:58px;
        max-width:58px;
        min-width:58px;
    }
    .trade-preview-profit-bar{
        display:inline-flex;
        width:100%;
        .profit-bar{
            width:100%;
        }
    }
    .trade-preview-profit-number{
        display:inline-flex;
        height:100%;
        width:fit-content;
        padding:0px 8px;
        align-items:center;
        white-space: nowrap;;
    }
    .trade-preview-actions{
        display:inline-flex;
        height:100%;
        .trade-preview-button{
            display:inline-flex;
            align-items:center;
            justify-content:center;
            width:32px;
            background:red;
            font-weight:bold;
            font-size:16px;
            cursor:pointer;
            transition:opacity 0.1s ease;
            &:last-child{
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
            &:hover{
                opacity:0.5;
            }
        }
    }
    
}