<app-popup-modal title="Nuova Operazione" (onComponentEvent)="catchEvent($event)" [isLoading]="isLoading"
    [saveButtonEnabled]="canActivateSaveButton()">
    <div class="new-trade-modal-form-line">
        <app-inputbox class="inputfield" title="simbolo" tooltip="Coppia scambiata o simbolo"
            (onComponentEvent)="value.symbol = $event?.eventData" UStyle="uppercase" placeholder="eur/gbp...">
        </app-inputbox>
        <app-datepicker class="inputfield full-width" title="Data" type="string"
            (onComponentEvent)="value.date = $event?.eventData"></app-datepicker>
    </div>
    <div class="new-trade-modal-form-line">
        <app-inputbox class="inputfield full-width" title="Link analisi"
            (onComponentEvent)="value.analisysLink = $event?.eventData"></app-inputbox>
    </div>
    <div class="new-trade-modal-form-line">
        <app-checkbox class="inputfield smaller" title="Trade Chiusa" [value]="!value.ongoing"
            (onComponentEvent)="value.ongoing = !$event?.eventData"></app-checkbox>
        <app-multiselect [value]="confirmationCombobox" title="Conferme"
            (onComponentEvent)="value.checkListElements = $event?.eventData">
        </app-multiselect>
    </div>
    <div class="new-trade-modal-form-line">
        <app-combobox class="inputfield smaller" title="Tipo Chiusura" [value]="closeTypeCombobox"
            [isDisabled]="value?.ongoing" (onComponentEvent)="value.closeType = $event?.eventData?.value">
        </app-combobox>
        <app-inputbox [isDisabled]="value?.ongoing" title="Profitto %" class="inputfield" type="number"
            (onComponentEvent)="value.percentProfit = $event?.eventData"
            [numbersType]="(value?.closeType=='Stop Loss')?'negative':(value?.closeType=='Take Profit')?'positive':null">
        </app-inputbox>
        <app-inputbox [isDisabled]="value?.ongoing || !tradingPlanRules?.takePartials" title="Parziali"
            class="inputfield" type="number" (onComponentEvent)="value.partial = $event?.eventData">
        </app-inputbox>
    </div>
</app-popup-modal>