<div class="new-trade-modal-wrapper">
    <div class="new-trade-modal-form">
        <div class="new-trade-modal-form-header">
            Nuova Operazione
        </div>
        <div class="new-trade-modal-form-content">
            <div class="new-trade-modal-form-line">
                <app-inputbox class="inputfield" title="simbolo" (onComponentEvent)="value.symbol = $event?.eventData">
                </app-inputbox>
                <app-datepicker class="inputfield full-width" title="Data"
                    (onComponentEvent)="value.date = $event?.eventData"></app-datepicker>
            </div>
            <div class="new-trade-modal-form-line">
                <app-inputbox class="inputfield full-width" title="Link analisi"
                    (onComponentEvent)="value.analisysLink = $event?.eventData"></app-inputbox>
            </div>
            <div class="new-trade-modal-form-line">
                <app-checkbox class="inputfield smaller" title="Trade Chiusa"
                    (onComponentEvent)="value.ongoing = $event?.eventData"></app-checkbox>
                <app-multiselect [value]="confirmationCombobox"></app-multiselect>
            </div>
            <div class="new-trade-modal-form-line">
                <app-combobox class="inputfield smaller" title="Tipo Chiusura" [value]="closeTypeCombobox"
                    [isDisabled]="!value?.ongoing" (onComponentEvent)="value.closeType = $event?.eventData">
                </app-combobox>
                <app-inputbox [isDisabled]="!value?.ongoing" title="Profitto %" class="inputfield" type="number"
                    (onComponentEvent)="value.percentProfit = $event?.eventData">
                </app-inputbox>
                <app-inputbox [isDisabled]="!value?.ongoing || !tradingPlanRules?.takePartials" title="Parziali"
                    class="inputfield" type="number" (onComponentEvent)="value.partial = $event?.eventData">
                </app-inputbox>
            </div>
            <div class="new-trade-modal-form-footer">
                <app-button class="button" (onComponentEvent)="onDestroyButtonClick()">Annulla</app-button>
                <app-button class="button" color="primary-blue" (onComponentEvent)="onSaveButtonClick()"
                    [ngClass]="{'disabled': !canActivateSaveButton()}">Salva
                </app-button>
            </div>
        </div>

    </div>
</div>