<div class="popup-modal-wrapper">
    <app-draggable-modal [title]="title" class="draggable-modal" (onComponentEvent)="onDraggableModalEvent($event)">
        <div class="popup-modal-content">
            <ng-content></ng-content>
            <div class="popup-modal-footer">
                <app-button class="button" color="primary-blue" (onComponentEvent)="onSaveButtonClick()"
                    [isDisabled]="!saveButtonEnabled">Salva
                </app-button>
            </div>
            <div class="popup-modal-form-loader" *ngIf="isLoading">
                <app-progressbar type="indefinite" style="width:100%;"></app-progressbar>
            </div>
        </div>
    </app-draggable-modal>
</div>