<div class="trading-plan-editor-wrapper">
    <div class="trading-plan-form">
        <div class="trading-plan-form-header">
            Regole di trading
        </div>
        <div class="trading-plan-editor-content">
            <div class="trading-plan-editor-line">
                <app-inputbox [value]="value?.strategyName" title="nome strategia:"
                    (onComponentEvent)="value.strategyName = $event?.eventData"></app-inputbox>
            </div>
            <div class="trading-plan-editor-line">
                <app-inputbox [value]="value?.maxOngoingTrades" title="Operazioni Fluttuanti" class="inputfield"
                    type="number" numbersType="positive"
                    (onComponentEvent)="value.maxOngoingTrades = $event?.eventData">
                </app-inputbox>
                <app-inputbox [value]="value?.maxDailyTrades" title="Operazioni al giorno" class="inputfield"
                    type="number" numbersType="positive" (onComponentEvent)="value.maxDailyTrades = $event?.eventData">
                </app-inputbox>
                <app-inputbox [value]="value?.maxStopLossPerDay" title="Stop Loss al giorno" class="inputfield"
                    type="number" numbersType="positive"
                    (onComponentEvent)="value.maxStopLossPerDay = $event?.eventData">
                </app-inputbox>
            </div>
            <div class="trading-plan-editor-line">
                <app-inputbox [value]="value?.maxPercentRiskPerTrade" title="Rischio per trade %" class="inputfield"
                    type="number" numbersType="negative"
                    (onComponentEvent)="value.maxPercentRiskPerTrade = $event?.eventData">
                </app-inputbox>
                <app-inputbox [value]="value?.minPercentProfitPerTrade" title="Profitto minimo %" class="inputfield"
                    type="number" numbersType="positive"
                    (onComponentEvent)="value.minPercentProfitPerTrade = $event?.eventData">
                </app-inputbox>
                <app-inputbox [value]="value?.montlyPercentGoal" title="Obiettivo Mensile %" class="inputfield"
                    type="number" numbersType="positive"
                    (onComponentEvent)="value.montlyPercentGoal = $event?.eventData">
                </app-inputbox>
            </div>
            <div class="trading-plan-editor-line">
                <app-checkbox [value]="value?.takePartials" title="Parziali" class="inputfield smaller"
                    (onComponentEvent)="value.takePartials = $event.eventData"></app-checkbox>
                <app-inputbox [value]="value?.maxPartializationPerTrade" [isDisabled]="!value?.takePartials"
                    title="Parziali per trade" class="inputfield" type="number" numbersType="positive"
                    (onComponentEvent)="value.maxPartializationPerTrade = $event?.eventData">
                </app-inputbox>
                <app-inputbox [value]="value?.minPartializationPerTrade" [isDisabled]="!value?.takePartials"
                    title="Parziale minimo %" class="inputfield" type="number" numbersType="positive"
                    (onComponentEvent)="value.minPartializationPerTrade = $event?.eventData">
                </app-inputbox>
            </div>
            <div class="trading-plan-editor-line">
                <app-inputbox title="Checklist" class="inputfield" #checklistInput></app-inputbox>
                <app-button class="inputfield smaller" color="primary-blue" type="icon"
                    (onComponentEvent)="addChecklistElement()">
                    <span class="lnr lnr-cross" style="transform:rotate(45deg)"></span>
                </app-button>
            </div>
            <div class="checklist-wrapper">
                <ng-container *ngFor="let element of value?.entryCheckList">
                    <div class="checklist-element">
                        <div class="pointer"></div>
                        <div class="label">{{element}}</div>
                        <div class="delete" (click)="deleteChecklistElement(element)">
                            <span class="lnr lnr-cross"></span>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="trading-plan-editor-footer">
                <app-button class="button" (onComponentEvent)="onDestroyButtonClick()">Annulla</app-button>
                <app-button class="button" color="primary-blue" (onComponentEvent)="onSaveButtonClick()"
                    [ngClass]="{'disabled': !canActivateSaveButton()}">Salva
                </app-button>
            </div>
            <div class="tradingplan-editor-form-loader" *ngIf="isLoading">
                <app-progressbar type="indefinite" style="width:100%;"></app-progressbar>
            </div>
        </div>
    </div>
</div>