
.trading-plan-editor-line{
    display:flex;
    flex-wrap: nowrap;
    padding:8px 0px;
    &:first-child{
        padding-top:32px;
    }
    .inputfield{
        padding:0px 8px;
        width:150px;
        display:flex;
        align-items:center;
        &:first-child{
            padding-left:0px;
        }
        &:last-child{
            padding-right:0px;
        }
        &.smaller{
            align-items:flex-end; 
        }
    } 
}
.checklist-wrapper{
    width:calc(100%-32px);
    padding:8px 16px;
    height:fit-content;
    display:flex;
    flex-direction: column;
    .checklist-element{
        width:100%;
        display:flex;
        height:fit-content;
        align-items:center;
        margin: 8px 0px;
        .pointer{
            width:4px;
            height:4px;
            border-radius:50%;
        }
        .label{
            padding:0px 8px;
        }
        .delete{
            cursor:pointer;
        }
    }
}