@mixin app-theme($theme){
    .app-wrapper{
        .header-wrapper{
            background-color:map-get($theme,primary)!important;
            color:map-get($theme,dark)!important;
            box-shadow: 0px 1px 25px -8px rgba(0,0,0,0.25);
            .header-options{
                .logout-header-button{
                    background-color:map-get($theme,secondary)!important;
                    transition: background-color 0.2s ease-in-out,
                        color 0.2s ease-in-out;
                    &.active{
                        background-color:map-get($theme,primary-blue)!important;
                        color:map-get($theme,primary)!important;
                    }
                    &:active{
                        @extend .active;
                    }
                    &:hover{
                        @extend .active;
                    }
                }
            }
        }
    }

    .page-container{
        background-color:map-get($theme,secondary)!important;
    }

    .disabled{
        transition:opacity 0.3s;
        opacity:0.5;
        pointer-events: none;
        user-select:none;
    }
    ::-webkit-scrollbar {
        background-color:map-get($theme,secondary)!important;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: map-get($theme,secondary-blue)!important;
    }
    .chartjs-render-monitor{
    }
}